--extra-index-url https://download.pytorch.org/whl/cu118
torch==2.1.0+cu118
torchaudio==2.1.0+cu118
torchvision==0.16.0+cu118
plyfile==0.8.1
numpy==1.26
diffusers >= 0.9.0
trimesh
omegaconf
kiui
scipy
opencv-python
imageio-ffmpeg
huggingface_hub
tqdm
mpi4py
imageio
tensorboard
accelerate
transformers
lazy_loader
matplotlib
nuscenes-devkit
gsplat
pandas
wandb
# git+https://github.com/graphdeco-inria/diff-gaussian-rasterization.git