plyfile==0.8.1
numpy==1.23.5
trimesh
omegaconf
kiui
scipy
opencv-python
imageio-ffmpeg
huggingface_hub
tqdm
mpi4py
imageio
tensorboard
transformers
lazy_loader
nuscenes-devkit
pyquaternion
diffusers
accelerate
peft
chumpy
smplx